@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: Inter, sans-serif;
  --color-white: #ffffff;

  --color-primary-50: #e6f1ff;
  --color-primary-100: #b3d7ff;
  --color-primary-200: #80bdff;
  --color-primary-300: #4da3ff;
  --color-primary-400: #1a89ff;
  --color-primary-500: #0070f3;
  --color-primary-600: #0060d1;
  --color-primary-700: #0050af;
  --color-primary-800: #00408d;
  --color-primary-900: #00306b;
  --color-primary-950: #002049;

  --color-gray-50: #fafafa;
  --color-gray-100: #f5f5f5;
  --color-gray-200: #e5e5e5;
  --color-gray-300: #d4d4d4;
  --color-gray-400: #a3a3a3;
  --color-gray-500: #737373;
  --color-gray-600: #525252;
  --color-gray-700: #404040;
  --color-gray-800: #262626;
  --color-gray-900: #171717;
  --color-gray-950: #0a0a0a;
}

@layer components {
  .prose {
    --tw-prose-body: var(--color-white);
    --tw-prose-headings: var(--color-white);
    --tw-prose-links: var(--color-primary-500);
    --tw-prose-bold: var(--color-white);
    --tw-prose-counters: var(--color-gray-400);
    --tw-prose-bullets: var(--color-gray-400);
    --tw-prose-hr: var(--color-gray-800);
    --tw-prose-quotes: var(--color-gray-400);
    --tw-prose-quote-borders: var(--color-gray-700);
    --tw-prose-captions: var(--color-gray-400);
    --tw-prose-code: var(--color-primary-400);
    --tw-prose-pre-code: var(--color-gray-200);
    --tw-prose-pre-bg: var(--color-gray-900);
    --tw-prose-th-borders: var(--color-gray-700);
    --tw-prose-td-borders: var(--color-gray-700);
  }

  .prose a:hover {
    color: var(--color-primary-400);
  }

  .prose code {
    background-color: var(--color-gray-800);
    padding: 0.25rem;
    border-radius: 0.25rem;
    font-weight: 600;
  }

  .prose code::before {
    content: "";
  }

  .prose code::after {
    content: "";
  }
}

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}